html, body, div, router-link-active, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}body {line-height: 1;}ol, ul {list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}table {border-collapse: collapse;border-spacing: 0;}

html {
  font-size: 125%;
  overflow: hidden;
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 110%;
  position: absolute;
  top: -10%;
  background-color: #16181E;
}

#content {
  height: auto;
  width: 100%;
  margin: 0 auto;
}

#time {
  font-size: 8rem;
  color: #ccc;
  font-family: "Open Sans", sans-serif;
}

#date {
  font-size: 2rem;
  line-height: 2.4rem;
  color: #ccc;
  font-family: "Open Sans", sans-serif;
}


#links {
  width: 65rem;
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
}

#links ul li {
  display: inline-block;
  font-size: 2rem;
  text-decoration: none;
  padding: 8px;
}


.envelope      i{color:#78C5D7;}
.facebook      i{color:#459BA8;}
.weather       i{color:#79C268;}
.usd           i{color:#C5D747;}
.maps          i{color:#F5D63D;}
.youtube       i{color:#F5D63D;}
.github      i{color:#F48C33;}


#search {
  background-color: #22252E;
  width: calc(30rem + 2.8rem);
  height: 2rem;
  padding: 0.3rem;
}

#search::before {
  background-color: #22252E;
  color: #ccc;
  width: 2.6rem;
  font-family: 'FontAwesome';
  content: "\f002";
  line-height: 2rem;
  font-size: 1.6rem;
  float: left;
  padding-right: 0.2rem;
}

#search:hover::before {
  background-color: #2A2E3A;
}

.search {
  width: 30rem;
  height: 2rem;
  margin-right: 0px;
  padding: 5px;
  background: #2A2E3A;
  font-size: 1rem;
  letter-spacing: 0.5px;
  color: #ACAEB4;
  opacity: .5;
  border: none;
}
